@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Рафае́ль Са́нті</h1>
    <p style="text-align:center">італійський живописець, графік і архітектор умбрійської, а згодом римської школи. Один з найяскравіших представників мистецтва епохи Високого Відродження, або римського класицизму початку XVI століття. За своє недовге життя він став одним з найславетніших і багатих художників Італії. У своїх творах Рафаель втілив уявлення про піднесені ідеали ренесансного гуманізму. Наприкінці життя переїхав до Рима.</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Raffaello_Sanzio.jpg/396px-Raffaello_Sanzio.jpg" />
</div>
