@{
    ViewData["Title"] = "Biography";
}

<div class="text-center">
    <h1 class="display-4">Boigraphy</h1>
    <h3>Ранні роки</h3>
    <p style="text-align:center">
        Рафаель народився у містечку Урбіно в області Марке, що належав тоді герцогам Монтефельтро.

        Був сином Джованні Санті — придворного художника урбінського герцога. До того ж батько займався поезією. Збережені картини батька мають невелику мистецьку вартість. Але перші навички Рафаель отримав у майстерні батька, що прищепив сину зацікавленість у мистецтві. Коли батько помер, Рафаелю виповнилося одинадцять років. Відтепер на виховання підлітка і зростання його майстерності матимуть вплив сторонні митці.
    </p>
    <h3>Мистецькі скарби в Урбіно</h3>
    <p style="text-align:center">
        Невеличкий Урбіно завдяки зусиллям герцога — став відомим ренесансним центром. У місті залишився довершений майоліковий рельєф, який створив Лука делла Роббіа, що прикрасив одну з місцевих церков. У гостинному Урбіно роками перебував художник П'єро делла Франческа, що займався питаннями перспективи і використання її настанов в живописі. Хоча вплив художньої манери делла Франческа на Рафаеля був мінімальним. В Урбіно перебував високоосвічений Альберті Леон-Баттіста, найкращий серед теоретиків італійської архітектури 15 століття.

        Новітні ідеї Альберті були використані надвірними архітекторами герцога при побудові резиденції володаря. Так палац, який створили в 1460-1470-ті рр. Лучано да Лаурана та Франческо ді Джорджо став серед перших світських споруд доби італійського Відродження в провінції. Гармонійні форми твору Лучано да Лаурана дорослий Рафаель згадуватиме, коли сам буде залучений до архітектурної практики в Римі.
        <br />
        <h3>У майстерні Перуджино</h3>
        <br />
        Мадонна з немовлям (1498). Один із найперших творів майстра. Цю фреску Рафаель виконав у 15-річному віці
        Дитиною вчився у місцевих майстрів Тімотео Віті та Еванджеліста да П'ядімелето. У 1500 році Рафаель перебрався до Перуджі, пішов вчитися до майстерні П'єтро Перуджино — головного митця умбрійської живописної школи. У майстерні П'єтро Перуджино молодий Рафаель працював чотири роки — до 1504-го. Вплив художньої манери Перуджино відчутний у ранніх творах Рафаеля.
    </p>
    <h3>Три ранні шедеври</h3>
    <p style="text-align:center">
        У 1504 році художник приїхав до Флоренції — центру тогочасного Відродження у мистецтві Італії. З містом пов'язана творчість Арнольфо ді Камбіо, Філліппо Брунеллескі, Мазаччо, Доменіко Гірляндайо, да Вінчі, Мікеланджело, та інших велетнів італійської культури.

        До цього періоду належать три маленькі шедеври молодого художника:

        «Мадонна Конестабіле»
        «Сон лицаря» (Лицар на перетині шляхів)
        «Заручини Діви Марії».
        «Мадонна Конестабіле» — тондо, створене ще зовсім молодим і несміливим майстром. Картина виконана в техніці темпери і досить сильно нагадує образи, які десятками випускали з майстерні Перуджино. Рафаель — це митець, котрий не претендує на щось величне і значуще, але вже помітні потяг до індивідуальних композицій, поетичного характеру персонажів, розміщених в простому, майже спрощеному природному середовищі.

        Значно більші завдання поставив митець перед собою і успішно розв'язав в композиції «Сон лицаря» (Лицар на перетині шляхів). На дорозі, майже в пилюці спокійно і зручно розмістився молодий лицар-юнак. Він чи то заснув, чи то замріяв, і перед його внутрішнім зором предстали дві привабливі жіночі постаті — гарненька Насолода з квітами і серйозна Доброчинність з мечем і книгою. Юнак-лицар ще перебуває в скутому стані, але жереб вже кинутий. І йому обов'язково треба обрати життєвий шлях — або життя, витрачене на насолоди, або нелегкий шлях подолання перешкод, уславлених вчинків і праці, яку уособлюють меч і книга серйозної Доброчинністі.

        У невеличкій картині «Заручини Діви Марії» Рафаель розробив біблійний сюжет схожої композиційної побудови. Теж робить спробу побудувати групу свідків заручин симетричною і невимушеною(хоча не обтяжує себе портретністю персонажів), грає з перспективною побудовою вимостки напівпорожнього майдану, що веде погляд глядачів до центричного, фантазійної архітектури храму. Його спокійна і гармонійна побудова — ще один головний персонаж композиції.
    </p>
</div>
